.jumbotron {
	color: #fff;
}

.jumbotron .jumbotron-image-container {
}
.jumbotron .jumbotron-image-container > img {
	margin-bottom: -48px;
	float: right;
}
.jumbotron a {
	margin-top: 20px;
}

.valign-container {
	position: relative;
	height: 115px;
}
.valign-container > img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

code {
	display: block;
	white-space: pre;
}
code.inline {
	display: inline-block;
}
code ol.linenums > li {
	list-style-type: decimal;
}