{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Contact Us | Tailbay" %}
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{% trans "Say 'Hello' To Us" %}</h1>
</div>
<div class="row">
	<div class="col-sm-6">
		<h3>{% trans "Where Are We Located?" %}</h3>
		<h4>{% trans "Thailand Office" %}</h4>
		<p>Ivy Ratchada 30/87, Ratchadapisek Soi 20</p>
		<p>10310 Huay Kwang, Bangkok, Thailand</p>
		<br>
		<h4>{% trans "Sweden Office" %}</h4>
		<p>Lind Media Development AB</p>
		<p>Åsgatan 13</p>
		<p>74145 Knivsta, Sweden</p>
	</div>
	<div class="col-sm-6">
		<h3>{% trans "Want to say 'Hi'?" %}</h3>
		<p>{% trans "Please send us a message!" %}</p>
		<p><label>{% trans "Email" %}</label> info@tailbay.com</p>
	</div>
</div>
{% endblock %}