{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Frequently Asked Questions | Tailbay" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>{% trans "Frequently Asked Questions" %}</h1>
		</div>
		<h3>{% trans "What is TailBay?" %}</h3>
		<p>{% trans "TailBay is a monthly subscription for dog-lovers where you get a box filled with fun toys, snacks and other unique dog related products each month. Each month delivers something new and exciting for your dog." %}</p>
		<h3>{% trans "When do I get my first box?" %}</h3>
		<p>{% trans "We ship our boxes around the 15th each month and you should get your box 2-8 business days after that. Your first box will be send the month after you started your subscription. So if you subscribed to TailBay in March, you will get your first box in April." %}</p>
		<h3>{% trans "Are there any shipping fees?" %}</h3>
		<p>{% trans "Unless stated otherwise during the checkout process, all shipping and handling fees are included in the price of your subscription." %}</p>
		<h3>{% trans "Help! My box has not arrived!" %}</h3>
		<p>{% trans "Ouch! We send our boxes in the middle of each month, and if you have already waited for your box for more than 10 days, please contact our customer service and we'll help you out! Remember, if you are a first time subscriber, your first box will arrive the month after you start your subscription." %}</p>
		<h3>{% trans "How do I cancel my subscription?" %}</h3>
		<p>
			{% url "shop:subscription-change" as cancel_url %}
			{% blocktrans with url=cancel_url %}Go to our <a href="{{url}}">Change Subscription</a> page and fill in your information to cancel your subscription.{% endblocktrans %}
		</p>
	</div>
</div>
{% endblock %}