{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Terms of Service | Tailbay" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>{% trans "Terms of Service" %}</h1>
		</div>
		<p>Welcome to TailBay! The TailBay Website and services are provided by Lind Media Development AB ("TailBay", "we" "us" or "our"). These terms and conditions (these "Terms and Conditions") govern your ("you" or "your") access to and use of the TailBay.com web site (the "Website") and all services provided by TailBay via the Website including without limitation our monthly product and gift service (collectively, the "Services").</p>

		<p>TailBay provides a subscription service for monthly delivery of canine-related products for your dog or as a gift to other dog owners. Access to the Website, use of the Services, and purchase of the Products is subject to these Terms and Conditions.</p>

		<div class="page-header">
			<h2>Acceptance of Terms</h2>
		</div>
		<p>By using our Website or subscribing to our Services, you indicate your unconditional acceptance of the following Terms and Conditions. Please read them carefully, as they may have changed since your last visit. The most recent version of these Terms and Conditions may be viewed at tailbay.com/terms-of-service.</p>

		<div class="page-header">
			<h2>Registration, Membership and Personal Information</h2>
		</div>
		<p>In order to start your TailBay monthly subscription, you must register as an member on our Website. To register you simply provide basic personal information about you and your dog, and the shipping address where we should deliver the box to every month. You are responsible for keeping this information up to date, and if there are any changes to your address or to your personal information, You are responsible of contacting us and informing us about your changes.</p>

		<p>As a member of TailBay you agree to recieve emails promoting any special offer(s). You also agree to recieve our monthly newsletter with relevant information regarding our products and services. You may opt-out from this newsletter at any time from the email itself by the "Unsubscribe"-link located in the bottom of the email.</p>

		<div class="page-header">
			<h2>Monthly Delivery</h2>
		</div>
		<p>As a subscribed TailBay member, each month we will ship you a package with a different selection of items for your dog that may consist of a selection of toys, treats, shampoos, bones, bully sticks, hygiene products, food samples or other canine-related items ("Products"). Each month of your subscription, the selection of products may change.</p>

		<p>Your Monthly Delivery starts the month after you have placed your order. For example, if you place your order 15th of March, you will get your first delivery in April.</p>

		<p>BY SUBSCRIBING YOU AGREE TO PAY THE MONTHLY SUBSCRIPTION FEE FOR THE PRODUCTS THAT ARE SUPPLIED EACH MONTH.</p>

		<div class="page-header">
			<h2>Billing and Payments</h2>
		</div>
		<p>To be able to pay the monthly subscription fee of the plan you have selected, you will have to hand out your credit card details during the checkout process.  We are using the Payment Gateway "Stripe, Inc" (https://stripe.com/ to manage all payments, and your payment information is shared with Stripe Inc. Your payment information is never send to TailBay's servers and are never read, saved or stored by TailBay or TailBay's staff.</p>

		<p>The price of the Service/Products is payable in full before delivery. For your convenience and continuous subscription benefits as a member, if your payment method reaches its expiration date and you do not edit your credit card information or cancel your account, you authorize us to continue billing that credit card on file including extending the expiration date until we are notified by you or the credit card company that the account is no longer valid. We encourage you to constantly update your payment method information or cancel your account should you wish to discontinue your monthly purchase of Products.</p>

		<div class="page-header">
			<h2>Shipping and Risk of Loss</h2>
		</div>
		<p>Unless otherwise indicated during the checkout process of your purchase, shipping and handling fee's are included with your order. Shipping dates and/or arrival times are only estimates and TailBay can not be hold accountable for delayed deliveries. For loss/damage claims, you must notify TailBay within 30 days of the date of your purchase if you believe all, or part of your order has been damaged or is missing.</p>

		<p>Replacement of Products and credits to your account for shipped merchandise claimed as not received are subject to our investigation, which may include postal-service notification. We will adjust your account at our discretion. Repeated claims of undelivered merchandise may result in the cancellation of your membership.</p>

		<p>Your first shippment starts the month after you have placed your order. For example, if you have placed your order in March, we will ship your first package in April.</p>

		<div class="page-header">
			<h2>Returns and Exchanges</h2>
		</div>
		<p>If a Product is defective, you may return it and we will send you a new item or credit your account. To request a refund, please contact our customer service. When returning Products, it is your responsibility to take reasonable care to see that the Products are not damaged in transit and are received by us at our address as displayed on the Website. Please note credits resulting from the monthly charge are only available up to 30 days past the date of the charge.</p>

		<div class="page-header">
			<h2>Membership and Subscription Cancelations</h2>
		</div>
		<p>We work hard to make your membership satisfying; however, you may cancel your ongoing membership through the "Change Subscription" page on the Website. You must update your subscription on the Website by the first day of the month to cancel the current month's shipment. IF YOU DO NOT CANCEL PRIOR TO THE FIRST DAY OF A CALENDAR MONTH, YOU WILL BE CHARGED FOR THAT MONTH'S SHIPMENT OF PRODUCTS TO YOU. All cancellation requests received after the first day of a calendar month will apply to the following calendar month.</p>
		
		<p>We may terminate your membership, without notice, for conduct we believe violates these Terms and Conditions or our policies, is harmful our business interests, or for an inactive account.</p>
	</div>
</div>
{% endblock content %}