{% extends "lindshop/dashboard/base.html" %}
{% load staticfiles %}
{% load product_tags %}
{% load i18n %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>{% trans "Categories" %}</h1>
		</div>
		<div class="col-sm-6 text-right">
			<a href="#" class="btn btn-lg btn-success">{% trans "Add Category" %} <i class="fa fa-plus"></i></a>
		</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>{% trans "ID" %}</th>
				<th>{% trans "Product" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr class="clickable-row" data-href="{% url "shop:dashboard:order" product.pk %}">
					<td>{% if product.get_featured %}<img src="{{product.get_featured.image.url}}" class="img-thumbnail img-responsive">{% endif %}</td>
					<td>{{product.pk}}</td>
					<td>{{product.name}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}