{% extends "lindshop/dashboard/base.html" %}
{% load staticfiles %}
{% load product_tags %}
{% load i18n %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-xs-6">
			<h1>{% blocktrans with id_order=order.pk customer_name=order.customer.full_name %}Order #{{id_order}} by {{customer_name}}{% endblocktrans %}</h1>
			<h4>{{order.date_created}}</h4>
		</div>
		<div class="col-xs-6 text-right">
			{% if order.subscription %}
				{% if order.subscription_status == 'active' %}
				<h1 class="box-header success">{% trans "Subscribed" %}</h1>
				{% elif order.subscription_status == 'unpaid' %}
				<h1 class="box-header warning">{% trans "Unpaid" %}</h1>
				{% else %}
				<h1 class="box-header danger">{% trans "Canceled" %}</h1>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		{% include "lindshop/dashboard/cart-list-items.html" with cart=order.cart %}
		<p><b>{% trans "Total:" %}</b> {% format_price order.cart.get_to_pay "decimals" %}</p>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-6">
				<h4>{% trans "Customer Information" %}</h4>
				{% include "lindshop/dashboard/customer-info.html" with customer=order.user %}
			</div>
			<div class="col-sm-6">
				<h4>{% trans "Customer Address" %}</h4>
				{% include "lindshop/dashboard/customer-address.html" with address=order.user.address_set.all.0 %}
			</div>
		</div>
		{% if order.customfieldvalue_set.all|length > 0 %}
		<div class="row">
			<div class="col-sm-12">
				<h4>{% trans "Extra Information" %}</h4>
				<ul>
					{% for fieldvalue in order.customfieldvalue_set.all %}
						{% with fieldvalue.custom_field as field %}
						<li>
							<label>{{field}}</label>
							{{fieldvalue.value}}
						</li>
						{% endwith %}
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% if order.subscription %}
		<div class="row">
			<div class="col-sm-12">
				<h4>{% trans "Subscription Details" %}</h4>
				<ul>
					<li>
						<label>{% trans "Plan" %}:</label>
						{{order.subscription_plan.name}}
					</li>
					<li>
						<label>{% trans "Expire" %}:</label>
						{% if order.is_past_due %}
						<i class="fa fa-warning"></i>
						{% endif %}
						{{order.subscription_enddate}}
					</li>
					<li>
						<label>{% trans "Status" %}:</label>
						{{order.subscription_status}}
					</li>
				</ul>
			</div>
		</div>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="page-header">
			<h2>{% trans "Order Notifications" %}</h2>
		</div>
		<form method="post" action="" id="notification-form">
			{% csrf_token %}
			<div class="form-group">
				<div class="row">
					<div class="col-sm-4">
						<select name="notification_type" class="form-control">
							<option value="shipping">{% trans "Shipping" %}</option>
							<option value="note">{% trans "Note" %}</option>
						</select>
					</div>
					<div class="col-sm-8">
						<textarea name="note" class="form-control" placeholder="{% trans "Write a note (Not required)"%}"></textarea>
					</div>
				</div>
			</div>
			<input type="hidden" name="id_order" value="{{order.pk}}">
			<button type="submit" class="btn btn-default">{% trans "Add Notification" %} <i class="fa fa-plus"></i></button>
		</form>

		{% include "lindshop/dashboard/order-list-notifications.html" with notifications=notifications %}
	</div>
</div>
{% endblock %}

{% block js_compress %}
<script type="text/javascript" src="{% static 'shop/dashboard/js/order.js' %}"></script>
{% endblock %}