{% extends "lindshop/dashboard/base.html" %}
{% load staticfiles %}
{% load product_tags %}
{% load i18n %}

{% block content %}
<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>{% trans "Subscriptions" %}</h1>
		</div>
		<div class="col-sm-6 text-right">
			<a href="#" id="check-payments" class="btn btn-lg btn-success">{% trans "Check Payment Status" %} <i class="fa fa-refresh"></i></a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 text-center">
		<div class="page-header text-center">
			<h3>{% trans "Subscription Types" %}</h1>
		</div>
		<canvas id="productType" width="200" height="200"></canvas>
	</div>
	<div class="col-sm-4"></div>
	<div class="col-sm-4"></div>
</div>
<div class="page-header">
	<h3>{% trans "Export Subscriptions" %}</h3>
</div>

{% include "lindshop/dashboard/subscriptions-list-subscriptions.html" with subscriptions=subscriptions %}

{% endblock %}


{% block js_nocompress %}
<script>
	var productChartData = [
		{
			value: {{small_count}},
			color:"#F7464A",
			highlight: "#FF5A5E",
			label: "Small"
		},
		{
			value: {{medium_count}},
			color: "#46BFBD",
			highlight: "#5AD3D1",
			label: "Medium"
		},
		{
			value: {{large_count}},
			color: "#FDB45C",
			highlight: "#FFC870",
			label: "Large"
		}
	]
</script>
{% endblock %}

{% block js_compress %}
<script type="text/javascript" src="{% static 'shop/dashboard/js/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'shop/dashboard/js/subscription.js' %}"></script>
{% endblock %}