{% load product_tags %}
{% load i18n %}
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>{% trans "Customer" %}</th>
				<th>{% trans "Date" %}</th>
				<th class="text-right">{% trans "Total" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for order in subscriptions %}
				<tr class="clickable-row" data-href="{% url "shop:dashboard:order" order.pk %}">
					<td>{{order.pk}}</td>
					<td>{{order.customer.full_name}}</td>
					<td>{{order.date_created}}</td>
					<td class="text-right">{% format_price order.cart.get_to_pay "decimals" %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>