<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>Countries</h1>
		</div>
		<div class="col-sm-6 text-right">
			<div class="form-group">
				<button class="btn btn-default" ng-click="navigateTo('/localization/country/');"><i class="fa fa-plus"></i> Add Country</button>
			</div>
		</div>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr class="clickable-row" ng-click="navigateTo('/localization/country/'+country.id+'/');" ng-repeat="country in countries">
			<td>{{country.id}}</td>
			<td>{{country.name}}</td>
		</tr>
	</tbody>
</table>