<div class="page-header">
	<div class="row">
		<div class="col-sm-6">
			<h1>Stock</h1>
		</div>
		<div class="col-sm-6 text-right">
			<div class="form-group">
				<button class="btn btn-default" ng-click="navigateTo('/stock/warehouse/');"><i class="fa fa-plus"></i> Add Warehouse</button>
			</div>
		</div>
	</div>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr class="clickable-row" ng-click="navigateTo('/stock/warehouse/'+warehouse.id+'/');" ng-repeat="warehouse in warehouses">
			<td>{{warehouse.id}}</td>
			<td>{{warehouse.name}}</td>
		</tr>
	</tbody>
</table>