<a href="" ng-click="navigateTo('/users/');"><i class="fa fa-long-arrow-left"></i> Back to Users</a>
<div class="page-header">
	<div class="row">
		<div class="col-sm-12">
			<h1>#{{user.id}} - {{user.email}}</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<ul>
			<li>
				<label>First Name</label>
				{{user.first_name}}
			</li>
			<li>
				<label>Last Name</label>
				{{user.last_name}}
			</li>
			<li>
				<label>Email</label>
				{{user.email}}
			</li>
			<li>
				<label>Address</label>
				{{address.address}}
			</li>
			<li>
				<label>Zipcode</label>
				{{address.zipcode}}
			</li>
			<li>
				<label>City</label>
				{{address.city}}
			</li>
			<li>
				<label>Country</label>
				{{address.country.name}}
			</li>
		</ul>
	</div>
</div>